{% extends 'base.html.twig' %}
{% block content %}
<div  class="col-6 m-auto text-center">
    <h2> Bienvenue {{app.user.firstname}}</h2>
</div>
<div class="col-6 m-auto text-center">{{form(form)}}</div>
<a class="nav-link active col-6 m-auto text-center" aria-current="page" href={{ path('account_modify') }}><button class="btn btn-outline-dark">Modifier vos informations</button></a>
{% endblock %}