{% extends 'base.html.twig' %}
{% block content %}
<a class="nav-link active" aria-current="page" href={{ path('account') }}><img src="{{asset("assets/Images/outline_arrow_back_black_24dp.png")}}"></a>
<div  class="col-6 m-auto text-center">
    <h2> Modifier votre compte</h2>
</div>
<div class="col-6 m-auto text-center">{{form(form)}}</div>
{% endblock %}