<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>
<button type="button" class="btn btn-primary">Primary</button>

<hr>
<h1>Liste des serveurs</h1>
<app-servers></app-servers>
<p>
  <button type="button" class="btn btn-primary" id="first-button" style="background-color: red;">
    <app-first-module></app-first-module>
  </button>
</p>

<p>
  <button type="button" class="btn btn-primary" id="second-button" style="background-color: green;">
    <app-second-module></app-second-module>
  </button>
</p>
